<div class="{{getCardClass()}} bg-base-100 hover:bg-base-200">
    <div class="card-title flex justify-between min-h-10">
        <div>
            {{memberModel.firstName}} {{memberModel.lastName}}
        </div>
        <div>
            @if(!memberModel.isLiked)
            {
            <button class="rounded-4xl btn btn-circle btn-success text-white" (click)="likeUser()">
                <i class="fa fa-heart"></i>
            </button>
            }
            @if(memberModel.isMatched)
            {
            <button class="rounded-4xl btn btn-circle bg-success text-white"
                (click)="messageUser(memberModel.matchId!)">
                <i class="fa-solid fa-message"></i>
            </button>
            }
        </div>
    </div>
    <div>
        @if(memberModel.gender == 1){

        <div class="badge bg-primary badge-sm">M</div>
        }
        @else if(memberModel.gender == 2){
        <div class="badge bg-secondary badge-sm">F</div>
        }
        @else {
        <div class="badge badge-ghost badge-sm">O</div>
        }
        <div class="badge bg-accent badge-sm">{{memberModel.age}}</div>

    </div>
    <div class="card-body">
        <div class="avatar avatar-placeholder rounded-full w-40">
            <div class="rounded-full relative">
                <img src="{{getImageSource()}}" (load)="onImageLoaded()" class="z-50" />

                @if(!imageLoaded()) {
                <div class="flex w-50 flex-col gap-4">
                    <div class="flex items-center gap-4">
                        <div class="skeleton h-50 w-50 shrink-0 rounded-full animate-pulse"></div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>