<div>
    <div class="text-xl">Preferred Gender</div>
    <div class="flex gap-5">
        <label for="country">
            Country
            <select id="country" class="select shadow-none">
                <option selected="true">Egypt</option>
                <option>USA</option>
                <option>KSA</option>
            </select>
        </label>
        <label for="governorate">
            Governorate
            <select id="governorate" class="select shadow-none">
                <option selected="true">Gharbia</option>
                <option>Cairo</option>
                <option>Alexandria</option>
            </select>
        </label>
        <label for="city">
            City
            <select id="city" class="select shadow-none">
                <option>New Cairo</option>
                <option selected>Maadi</option>
            </select>
        </label>
    </div>
</div>