<div class="flex flex-wrap justify-center py-4">
  <div class="card p-10 border bg-base-200">
    <div class="avatar avatar-placeholder rounded-full w-40 relative">
      <div class="rounded-full">
        <img src="{{getImageSource()}}" alt="Profile picture"
          onerror="this.onerror=null; this.src='/assets/logo/unknown.png';" />

        <button class="btn btn-circle btn-sm absolute bottom-2 right-2 bg-base-200 hover:bg-base-300 shadow"
          (click)="onEditProfilePicture()" aria-label="Edit profile picture">
          <i class="fa fa-pen"></i>
        </button>
      </div>
    </div>
    <div class="my-2">
      <span class="text-2xl mx-2">{{this.profileService.profileModel()?.firstName}}
        {{this.profileService.profileModel()?.lastName}}</span>

      @if (this.profileService.profileModel()?.gender == 1){
      <div class="badge badge-sm bg-primary">M</div>
      }
      @else {
      <div class="badge badge-sm bg-secondary">F</div>
      }
      <div class="badge badge-sm bg-success">{{this.profileService.profileModel()?.age}}</div>
    </div>
    <div class="mx-2">
      <span class="text-gray-400">{{this.profileService.profileModel()?.birthdate | date}}</span>
    </div>
    <div class="mx-2 card card-border">
      <span class="text-gray-400">{{this.profileService.profileModel()?.biography}}</span>
    </div>
    <div class="my-2 flex justify-end">
      <button class="btn btn-primary" (click)="editbuttonClicked()">Edit<i class="fa fa-pen"></i></button>
    </div>
  </div>
  <div class="flex-1 min-h-full flex flex-col gap-4.5 justify-between ">
    <div class="card p-4 border  ml-4 flex-1 bg-base-200 ">
      <h2 class="text-xl mb-2">Profile Preferences</h2>
      <app-profile-preferences></app-profile-preferences>
    </div>
    <div class="card p-4 border ml-4 flex-1 bg-base-200">
      <h2 class="text-xl mb-2">Profile Stats</h2>
    </div>
  </div>
</div>