<div class="flex">
  <div class="card p-4 bg-white border-2 border-gray-300">
    <div class="avatar ring-1  rounded-full w-40">
      <img src="/assets/logo/unknown.png" class="opacity-50" />
    </div>
    <div class="my-2">
      <span class="text-2xl mx-2">{{this.profileService.profileModel()?.firstName}}
        {{this.profileService.profileModel()?.lastName}}</span>
      @if(this.profileService.profileModel()?.gender == 0){

      <div class="badge badge-sm bg-gray-300">O</div>
      }
      @else if (this.profileService.profileModel()?.gender == 1){
      <div class="badge badge-sm bg-blue-300">M</div>
      }
      @else {
      <div class="badge badge-sm bg-pink-300">F</div>
      }
      <div class="badge badge-sm bg-amber-300">{{this.profileService.profileModel()?.age}}</div>
    </div>
  </div>
  <div class="flex-1 min-h-full flex flex-col gap-4.5">
    <div class="card p-4 bg-white border-2 border-gray-300 ml-4 flex-1">
      <h2 class="text-xl mb-2">Profile Preferences</h2>
    </div>
    <div class="card p-4 bg-white border-2 border-gray-300 ml-4 flex-1">
      <h2 class="text-xl mb-2">Profile Stats</h2>
    </div>
  </div>
</div>