.dropdown-anchor {

    position-anchor: --anchor-auth;
    right: anchor(right);
    top: anchor(bottom);
    position: fixed;
    margin-top: 0.25rem;

}

.starter-anchor {
    anchor-name: --anchor-auth;
}