<div class="toast toast-right text-white">
  @for (toastItem of toasterService.toastList(); track $index) {

    <div class="relative">
      <button
        class="w-full {{ toastClass(toastItem.severity) }}"
        (click)="toastCallback(toastItem)"
      >
        <div class="text-left">
          <div><b>{{ toastItem.title }}</b></div>
          <div>{{ toastItem.description }}</div>
        </div>
      </button>
      <a class="btn btn-circle btn-ghost btn-xs absolute top-1 right-1 text-white"
        (click)="toasterService.removeToast(toastItem); $event.stopPropagation()"
        aria-label="Close">✕</a>
    </div>
  }
</div>