<div class="fixed pt-5 px-5 z-100 w-full  opacity-100">
    <div class="navbar 
    rounded-r-full
     rounded-l-full
      min-h-15 bg-linear-to-r
       from-primary
        to-info
           text-white
           opacity-100
            text-2xl
             font-extralight
              justify-between 
              sm:px-20 ">
        <a href="/">
            <img src="/assets/logo/logo.png" class="max-h-15">
        </a>
        <div class="sm:flex gap-4 hidden">
            @if(authenticationStateService.userModel() != null){

            <a class="p-3 link no-underline" routerLink="/"
                routerLinkActive="bg-white rounded-l-full rounded-r-full text-gray-700"
                [routerLinkActiveOptions]="{exact : true}">Home</a>
            <a class="p-3 link no-underline" routerLink="/members"
                routerLinkActive="bg-white rounded-l-full rounded-r-full text-gray-700"
                [routerLinkActiveOptions]="{exact : true}">Members</a> <a class="p-3 link no-underline"
                routerLink="/matches" routerLinkActive="bg-white rounded-l-full rounded-r-full text-gray-700"
                [routerLinkActiveOptions]="{exact : true}">Matches</a>
            }
            @else
            {
            <a class="p-3 link no-underline" routerLink="/login"
                routerLinkActive="bg-white rounded-l-full rounded-r-full text-gray-700"
                [routerLinkActiveOptions]="{exact : true}">Login</a>
            <a class="p-3 link no-underline" routerLink="/register"
                routerLinkActive="bg-white rounded-l-full rounded-r-full text-gray-700"
                [routerLinkActiveOptions]="{exact : true}">Register</a>
            }
        </div>
        @if(authenticationStateService.userModel() != null)
        {
        <div class="flex items-center gap-4">
            <button class="btn btn-ghost btn-circle transition-all duration-200 hover:bg-base-200 p-7
            "
                (click)="this.accessabilityService.toggleTheme()">
                @if(this.accessabilityService.isDarkMode()){
                <i class="fa-regular fa-lightbulb text-lg"></i>
                }
                @else {
                <i class="fa-regular fa-moon text-lg"></i>
                }
            </button>
            <app-avatar [userAbbreviation]="usernameAbbreviation()"></app-avatar>
            <button (click)="logout()" class="btn btn-error rounded-full text-white">
                <span class="md:block hidden">Logout</span>
                <span><i class="fa-solid fa-right-from-bracket"></i></span>
            </button>
        </div>
        }
    </div>
</div>