<div class="flex justify-center px-4">
    <div class="card w-full max-w-md bg-base-100 shadow-xl rounded-2xl">
        <div class="p-8 space-y-6">
            <div class="text-center space-y-1">
                <h2 class="text-2xl font-semibold text-primary">
                    Welcome back
                </h2>
                <p class="text-sm opacity-70">
                    Login to continue
                </p>
            </div>

            <div class="divider my-2"></div>
            <app-login-form></app-login-form>
        </div>
    </div>
</div>