<div>
    <form [formGroup]="editForm" (ngSubmit)="editProfileSubmitted()" class="space-y-6">
        <div class="form-control w-full">
            <app-text-input type="text" label="Username" formControlName="username" placeholder="Username"
                inputClass="input w-full"></app-text-input>
        </div>
        <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
            <div class="form-control">
                <app-text-input type="text" label="First Name" formControlName="firstName" placeholder="First Name"
                    inputClass="input w-full"></app-text-input>
            </div>
            <div class="form-control">
                <app-text-input type="text" label="Last Name" formControlName="lastName" placeholder="Last Name"
                    inputClass="input w-full"></app-text-input>
            </div>
        </div>
        <div class="form-control w-full">
            <app-phone-number-input label="Phone Number" formControlName="phoneNumber" placeholder="Phone Number"
                inputClass="input w-full"></app-phone-number-input>
        </div>
        <div class="form-control w-full">
            <app-text-area-input label="Biography" type="text" formControlName="biography" placeholder="Biography"
                inputClass="input w-full" />
        </div>

        <div class="form-control w-full">
            <label class="floating-label">
                <span class="label-text font-medium">Birthdate</span>
                <input type="date" formControlName="birthdate" name="birthdate" class="input w-full"
                    placeholder="Birthdate" />
            </label>
        </div>
        <div class="form-control w-full">
        </div>
        <div class="form-control w-full">
            <label>Gender</label>
            <div class="flex gap-4">
                <label class="flex items-center gap-1">
                    <input type="radio" name="gender" [value]="1" formControlName="gender">
                    Male
                </label>
                <label class="flex items-center gap-1">
                    <input type="radio" name="gender" [value]="2" formControlName="gender">
                    Female
                </label>
            </div>
        </div>
        <div class="modal-action flex justify-end gap-3">
            <button type="reset" class="btn btn-ghost">
                Reset
            </button>
            <button [disabled]="!this.editForm.dirty || this.editForm.invalid" class="btn btn-primary">
                Save changes
            </button>
        </div>

    </form>
</div>