<form #editForm="ngForm" (ngSubmit)="onValidSubmitAction()">
    <div class="flex justify-center items-center w-full relative">
        <input type="file" id="profileFile" class="hidden" accept="image/*" (change)="previewImage($event)" />

        <label for="profileFile" class="cursor-pointer">
            <div class="avatar avatar-placeholder rounded-full w-40 relative">
                <div class="rounded-full border-2 border-dashed">
                    <img src="{{this.imgSrc()}}" id="profile-image" />
                </div>
            </div>
        </label>
    </div>
    <button type="submit" class="btn btn-info" [disabled]="this.file == null">Upload</button>
</form>