<div class="card bg-base-100  border-gray-300 border">
    <div class="p-4 h-120 overflow-y-auto">
        <button class="btn btn-ghost btn-sm" (click)="loadMore()">Load More</button>
        @if(messagesReversed().length == 0){
        <div class="flex flex-col items-center gap-4">
            <div>
                <i class="fa-solid fa-comments text-7xl text-secondary"></i>
            </div>
            <div>
                No Messages yet
            </div>
        </div>
        }
        @else {

        @for(message of messagesReversed(); track message){
        @if(message.senderId == this.authenticationStateService.userModel()?.id){

        <div class="chat chat-end">
            <button class="cursor-pointer chat-bubble chat-bubble-primary text-wrap">{{message.messageBody}}</button>
        </div>
        <div class="chat chat-end py-0">
            <p class="text-xs text-gray-500 mt-1">{{message.sentAt}}</p>
        </div>
        }
        @else {
        <div class="chat chat-start">
            <button class="cursor-pointer chat-bubble chat-bubble-neutral text-wrap">{{message.messageBody}}</button>
        </div>
        <div class="chat chat-start py-0">
            <p class="text-xs text-gray-500 mt-1">{{message.sentAt}}</p>
        </div>
        }
        }
        }
    </div>
    <form (ngSubmit)="onSubmit()" [formGroup]="formGroup">
        <div class="flex flex-1 gap-2 p-4">
            <input type="text" formControlName="messageBody" placeholder="Type a message..." class="input input-bordered w-full" />
            <button class="btn btn-success" type="submit" [disabled]="this.formGroup.invalid"><i
                    class="fa-solid fa-paper-plane"></i></button>
        </div>
    </form>
</div>